@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">IOL - Challenge</h1>
    <p>Podes ver mas acerca del código, refactor y la arquitectura en <a href="https://github.com/jrosas1982/CodingChallenge"> este repositorio de github </a>.</p>


</div>
<hr />  
    <div class="text-center">
        <p> </p>
    @Html.Raw(ViewBag.repoImpreso)
    </div>


